.profile__description {
  width: 100%;
  max-width: 336px;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .profile__description {
    max-width: calc(100% - 54px);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
}

@media screen and (max-width: 500px) {
  .profile__description {
    max-width: 282px;
  }
}
