.popup__button-close {
  width: 35px;
  height: 35px;
  background-image: url(../../../img/close-icon-x.svg);
  position: absolute;
  top: -43px;
  right: -43px;
  background-color: rgba(0, 0, 0, 0.2);
  border-style: none;
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
}

@media screen and (max-width: 500px) {
  .popup__button-close {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}