.popup__input-error_active {
  visibility: visible;
  color: #ff0000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 330px;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .popup__input-error_active {
    max-width: 234px;
  }
}
